---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/new-blog/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/new-blog/">Home</HeaderLink>
			<HeaderLink href="/new-blog/blog">Blog</HeaderLink>
			<HeaderLink href="/new-blog/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		background: transparent;
	}
	h2 {
		margin: 0;
		font-size: 2em;
	}
	nav {
		width: 920px;
		max-width: calc(100% - 2em);
		margin: auto;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding: 1em 1em;
		flex-wrap: wrap;
	}
	.internal-links {
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
		gap: 0.5em;
		flex-wrap: wrap;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	h2 a {
		padding-left: 0;
	}
	.internal-links a:last-child {
		padding-right: 0;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
